<h3 class="project-preview-title"><%= project.escape('title') %></h3>
<div class="project-body">
  <span><%= marked(project.escape('body')) %></span>
</div>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= project.escape('funding_progress') %>%;">
    <span class="sr-only"><%= project.escape('funding_progress') %>% Complete</span>
  </div>
</div>
<div class="row">
  <div class="col-sm-4 progress-info">
    <span class="preview-fig"><%= project.escape('funding_progress') %></span>%<br>
    funded
  </div>
  <div class="col-sm-4 progress-info">
    <span class="preview-fig">$<%= project.escape('amount_pledged') %></span><br>
    raised
  </div>
  <div class="col-sm-4 progress-info">
    <% if (days === 0) {%>
      <span class="preview-fig">Last</span><br>
      day
    <% } else { %>
      <span class="preview-fig"><%= days %></span><br>
      days to go
    <% } %>
  </div>
</div>
<a href="<%= '#projects/' + project.escape('id') %>">
  <span class="link"></span>
</a>
