<% if (project.has("errors"))  {%>
  <div class="row">
    <div class="col-sm-12 title">
      <h2><%= project.attributes.errors %></h2><br>
      <a href="#index">Return to project cateogries</a>
    </div>
  </div>
<% } else {%>
<div class="row">
  <div class="col-sm-12 title">
    <h1><%= project.escape('title') %></h1>
  </div>
</div>

<div class="row">
  <div class="col-sm-9 left">
    <div class="row header top-buffer">
      <div class="col-sm-6 image">
          <img src="<%= project.escape('image_url') %>" class="img-responsive project-image">
      </div>
      <div class="clearfix visible-sm-block"></div>
      <div class="col-sm-6 description">
        <div class="col-sm-12 desc-content">
          <div class="row backers">
            <span class="main-figure">
              <%= project.escape('supporter_count') %>
            </span><br>
            Backers
          </div>
          <div class="row pledges">
            <span class="main-figure">
              $<%= project.escape('amount_pledged') %>
            </span><br>
            Pledged of $<%= project.escape('goal')%> goal
          </div>
          <div class="row days">
            <% if ( days > 1 ) { %>
              <span class="main-figure"><%= days %></span><br>
              days remaining
            <% } else if ( days > 1 ) { %>
              <span class="main-figure"><%= days %></span><br>
              day remaining
            <% } else if ( days === 0) { %>
              <span class="main-figure">Last day</span><br>
              to support this project
            <% } else { %>
              <span class="closed-project">This project is closed</span><br>
            <% } %>
          </div>
          <br>

          <div class="row">
            <div class="progress">
              <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: <%= project.escape('funding_progress') %>%;">
                <span class="sr-only"><%= project.escape('funding_progress') %>% Complete</span>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-3 progress-info">
                <span class="preview-fig"><%= project.escape('funding_progress') %></span>%<br>
                funded
              </div>
              <div class="col-sm-3 progress-info">
                <span class="preview-fig">$<%= project.escape('amount_pledged') %></span><br>
                raised
              </div>
              <div class="col-sm-6 progress-info">
                <% if (days === 0) {%>
                  <span class="preview-fig">Last</span><br>
                  day
                <% } else if (days > 0) { %>
                  <span class="preview-fig"><%= days %></span><br>
                  days to go
                <% } else { %>
                  <span class="closed-project">This project is closed</span><br>
                <% } %>
              </div>
            </div>
          </div>
          <div class="row support">
            <% if (current_user && project.escape('owner_id') == current_user.id) { %>
              <a class="btn btn-edit btn-lg" href="<%="#projects/" + project.escape('id') + "/edit" %>">
                Edit your project
              </a>
            <% } else if (days > -1) { %>
              <a class="btn btn-lg btn-success" href="<%= "#projects/" + project.escape('id') + "/rewards" %>">
                Support This Project
              </a>
            <% } %>
          </div>
        </div>
      </div>
    </div>


    <div class="row top-buffer body">
      <div class="col-sm-12">
        <%= marked(project.escape('body')) %>
      </div>
    </div>
  </div>


  <div class="col-sm-3 right" id="rewards">
  </div>
<div>
<% } %>
