<!DOCTYPE html>
<html>
<head>
  <title>Enginestarter</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript" charset="utf-8"></script>

  <script type="text/javascript" charset="utf-8">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%=ENV['CLOUD_NAME']%>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>"
    };
    $(function () {
      <% if current_user %>
        // Enginestarter.CURRENT_USER = true;
        Enginestarter.CURRENT_USER = {
          id: <%= current_user.id %>
        };
      <% else %>
        Enginestarter.CURRENT_USER = undefined;
      <% end %>
      Enginestarter.initialize();
    });

  </script>
</head>
<body>
  <%= render "layouts/navbar" %>

  <div class="content">
    <%= yield %>
  </div>
</body>
</html>
